@import "theme.scss";

$font-family:sans-serif;

h1 {
  color: $primary-color;
}

.navbar-inverse {
  background: $hader-color
}

.spanleft {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {

  }
  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 16px;
    color: $link-color;
  }
  a:hover{
    color: $hader-color ;
  }
}

.spanlist{
    ul{
      margin: 0;padding: 0;
      li{
        list-style: none;
        a{
          color: $primary-color;

        }

        a:hover{color: $link-color}
      }

    }
}